extends layout

block content
	h1= title
	p A tool for 
		a(href="http://veganizzm.com/") Veganizzm.com
	form
		select.chzn-select(multiple="true", name="allowedCuisine", style="width: 500px; hieght: 40px;", data-placeholder="Select cuisine...")
			- for (var i = 0; i < allowedCuisine.length; ++i) {
				option(value='#{allowedCuisine[i].searchValue}') #{allowedCuisine[i].description}
				
			- }
		br
		select.chzn-select(multiple="true", name="allowedCourse", style="width: 500px; hieght: 40px;", data-placeholder="Select courses...")
			- for (var i = 0; i < allowedCourse.length; ++i) {
				option(value='#{allowedCourse[i].searchValue}') #{allowedCourse[i].description}
				
			- }
		br
		select.chzn-select(multiple="true", name="allowedAllergy", style="width: 500px; hieght: 40px;", data-placeholder="Select allergy...")
			- for (var i = 0; i < allowedAllergy.length; ++i) {
				option(value='#{allowedAllergy[i].searchValue}') #{allowedAllergy[i].shortDescription}
				
			- }
		br
		select.chzn-select(multiple="true", name="allowedDiet", style="width: 500px; hieght: 40px;", data-placeholder="Select diet...")
			- for (var i = 0; i < allowedDiet.length; ++i) {
				option(value='#{allowedDiet[i].searchValue}') #{allowedDiet[i].shortDescription}
				
			- }
		br

		button#submit-btn.btn.btn-primary(type="submit") Submit Data


