extends layout

block content
	h1= title
	p A tool for 
		a(href="http://veganizzm.com/") Veganizzm.com
	form
		input(name="search")
		select(name="allowedCuisine")
			- for (var i = 0; i < allowedCuisine.length; ++i) {
				input(value='#{allowedCuisine[i].searchValue}') #{allowedCuisine[i].description}
			- }
		select(name="allowedCourse")
			- for (var i = 0; i < allowedCourse.length; ++i) {
				option(value='#{allowedCourse[i].searchValue}') #{allowedCourse[i].description}
			- }
		select(name="allowedAllergy")
			- for (var i = 0; i < allowedAllergy.length; ++i) {
				option(value='#{allowedAllergy[i].searchValue}') #{allowedAllergy[i].shortDescription}
			- }
		select(name="allowedDiet")
			- for (var i = 0; i < allowedDiet.length; ++i) {
				option(value='#{allowedDiet[i].searchValue}') #{allowedDiet[i].shortDescription}
			- }

		button#submit-btn.btn.btn-primary(type="submit") Submit Data


